{% extends 'layout.html.twig' %}

{% block title %}
LibreCores Project List
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; Browse{% endblock %}

{% block content %}
  <h1>LibreCores Project List</h1>
  {% for project in projects %}
    <h2><a href="{{ path('librecores_project_repo_project_view', {'parentName':
project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getFqname() }}</a></h2>
    <div>{{ project.getTagline() }}</div>
    <div><i>
      by {{ project.getParentName() }} (added on {{ project.getDateAdded()|date('Y-m-d') }})
    </i></div>
    <div class="librecores-project-list-metadata">
      {% if project.sourceRepo.sourceStats.available %}
      <span class="lang">
        <i class="fa fa-code"></i>
        <span class="sr-only">Major language: </span>
        {{ project.sourceRepo.sourceStats.mostUsedLanguage }}
      </span>
      {%  endif %}
      {# Waiting for PR #167 #}
      {#{% if project.dateLastActivityOccured %}#}
      {#<span class="updated">#}
        {#<i class="fa fa-history"></i> Updated {{ project.dateLastActivityOccured | time_diff }}#}
      {#</span>#}
      {#{% endif %}#}
    </div>
    <hr/>
  {% endfor %}
{% endblock %}
