{% extends 'layout.html.twig' %}

{% block title %}
{{ project.getFullName() }} @ LibreCores: Settings
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ project.getFullName() }} &raquo; Settings{% endblock %}

{% block content %}
<h1 class="projectname"><a href="{{ path('librecores_project_repo_project_view', {'parentName':
  project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getFullName() }}</a>: Settings</h1>

<div class="row">
<div class="col-sm-2">
  <ul class="list-group">
    <li class="list-group-item"><a href="{{ path('librecores_project_repo_project_view', {'parentName':
  project.getParentName(), 'projectName': project.getName()}) }}">
      <i class="fa fa-bookmark fa-fw"></i>
      Project
    </a></li>
    <li class="list-group-item active"><a href="#">
      <i class="fa fa-cogs fa-fw"></i>Settings
    </a></li>
  </ul>
</div>
<div class="col-sm-10">

{{ form_start(form) }}
  {{ form_errors(form) }}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tagline</h3>
    </div>
    <div class="panel-body">
      <p><i>A short and to-the-point (140 characters or less) description what this project is all about.</i></p>

      {{  form_row(form.tagline, {'label': false}) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      {{  form_row(form.descriptionTextAutoUpdate, {'label': false}) }}
      <div id="descriptionText_div"
           style="padding-left: 15px; display: {% if form.vars.value.descriptionTextAutoUpdate %}none{% else %}block{% endif %};">
        {{ form_row(form.descriptionText, {'attr': {'data-provide': 'markdown'}}) }}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Resources</h3>
    </div>
    <div class="panel-body">
      {{ form_row(form.projectUrl) }}
      {{ form_row(form.issueTracker) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Source Code Repository</h3>
    </div>
    <div class="panel-body">
      {{ form_row(form.sourceRepo, {'label': false}) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">License</h3>
    </div>
    <div class="panel-body">
      {{ form_row(form.licenseName) }}

      {{ form_row(form.licenseTextAutoUpdate) }}
      <div id="licenseText_div" style="padding-left: 15px; display: {% if  form.vars.value.licenseTextAutoUpdate %}none{% else %}block{% endif %};">
        {{ form_row(form.licenseText, {'attr': {'data-provide': 'markdown'}}) }}
      </div>
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}

{% block pagejs %}
$(document).ready(function(){
  /* toggle text boxes in respect to the auto update settings */
  $('#{{ form.descriptionTextAutoUpdate.vars.id }}').on('change', function() {
    var au = $('input[name="{{ form.descriptionTextAutoUpdate.vars.full_name }}"]:checked').val() == '1';
    var el = $('#descriptionText_div');
    au ? el.hide() : el.show();
  });
  $('#{{ form.licenseTextAutoUpdate.vars.id }}').on('change', function() {
    var au = $('input[name="{{ form.licenseTextAutoUpdate.vars.full_name }}"]:checked').val() == '1';
    var el = $('#licenseText_div');
    au ? el.hide() : el.show();
  });
});
{% endblock %}
