{% extends 'layout.html.twig' %}

{# include trumbowyg CSS/JS #}
{% block stylesheets %}
  {% stylesheets filter="scssphp,cssrewrite"
      "assets/scss/trumbowyg.scss"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts filter="?jsqueeze"
    "assets/js/trumbowyg.min.js"
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}


{% block title %}
{{ project.getFullName() }} @ LibreCores: Settings
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ project.getFullName() }} &raquo; Settings{% endblock %}

{% block content %}
<h1 class="projectname"><a href="{{ path('librecores_project_repo_project_view', {'parentName':
  project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getFullName() }}</a>: Settings</h1>

<div class="row">
  <div class="col-sm-2">
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ path('librecores_project_repo_project_view', {'parentName':
          project.getParentName(), 'projectName': project.getName()}) }}">
          <i class="fa fa-bookmark fa-fw"></i>
          Project
        </a></li>
      <li class="list-group-item active"><a href="{{ path('librecores_project_repo_project_settings', {'parentName':
          project.getParentName(), 'projectName': project.getName()}) }}">
          <i class="fa fa-cogs fa-fw"></i>Settings
        </a></li>
    </ul>
  </div>
  <div class="col-sm-10">

    {{ form_start(form) }}
      {{ form_errors(form) }}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project Information</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.displayName) }}

          <div class="form-group">
            {{ form_label(form.tagline) }}
            <div class="form-desc">
              A short and to-the-point (140 characters or less) description what this project is all about.
            </div>
            {{ form_widget(form.tagline) }}
          </div>

          <div class="form-group">
            {{ form_label(form.descriptionTextAutoUpdate) }}
            <div class="form-desc">
              A long description of what your project is all about and why it is useful.
            </div>
            {{ form_widget(form.descriptionTextAutoUpdate) }}
            <div id="descriptionText_div"
                 style="padding-left: 15px; display: {% if form.vars.value.descriptionTextAutoUpdate %}none{% else %}block{% endif %};">
              {{ form_row(form.descriptionText) }}
              <div class="alert alert-info" role="alert">
                <strong>Note!</strong>
                Editing the description text here doesn't update it in your code
                repository. To keep the descriptions in your source repository and
                on LibreCores in sync, update the README file in your source code
                repository and switch to the auto-update mode above.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Resources</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.projectUrl) }}
          {{ form_row(form.issueTracker) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Source Code Repository</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.sourceRepo, {'label': false}) }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project Classification</h3>
        </div>
        <div class="panel-body classification-hierarchy row">
          <div class="classification-system">
            <select id="category-1" class="classification-category">
              <option value="NULL" data-parentId="NULL">select a category</option>
            </select>
          </div>
          <a href="" class="close-category" data-toggle="tooltip" data-placement="bottom" title="Remove the last child category"><i class="fa fa-close"></i></a>
          <a href="" class="add-category" data-toggle="tooltip" data-placement="bottom" title="Add child category" ><i class="fa fa-plus"></i></a>
        </div>
        <div class="classifications">
            {% if classifications %}
                    {% for classification in classifications %}
                      <div class="categories">
                        <span>
                          {{ classification.getClassification() }}
                        </span>
                        <a href="{{ path('librecores_project_repo_classification_update',{'parentName':
                          classification.project.getParentName(), 'projectName' : classification.project.getName(),
                          'classificationId' : classification.getId()}) }}">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="delete-classification" href="{{ path('librecores_project_repo_classification_delete',{'parentName':
                          classification.project.getParentName(), 'projectName' : classification.project.getName(),
                          'classificationId' : classification.getId()}) }}">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </div>
                    {% endfor %}
            {% endif %}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">License</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.licenseName) }}

          {{ form_row(form.licenseTextAutoUpdate) }}
          <div id="licenseText_div" style="padding-left: 15px; display: {% if  form.vars.value.licenseTextAutoUpdate %}none{% else %}block{% endif %};">
            {{ form_row(form.licenseText) }}
            <div class="alert alert-info" role="alert">
              <strong>Note!</strong>
              Editing the license text here doesn't update it in your code
              repository. To keep the license texts in your source repository and
              on LibreCores in sync, update the LICENSE file in your source code
              repository and switch to the auto-update mode above.
            </div>
          </div>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>

  <div class="confirmation-popup" role="alert">
    <div class="confirmation-popup-container">
      <p>Are you sure you want to delete this classification?</p>
      <ul class="confirmation-buttons">
        <li><a class="confirm-delete">Yes</a></li>
        <li><a class="close-conf">No</a></li>
      </ul>
      <a href="#0" class="confirmation-popup-close img-replace"></a>
    </div> <!-- confirmation-popup-container -->
  </div> <!-- confirmation-popup -->

{% endblock %}

{% block pagejs %}

$(document).ready(function(){
  $.trumbowyg.svgPath = '/img/trumbowyg-icons.svg';

  var trumbowyg_config = {
    btns: [
      ['formatting'],
      'btnGrp-semantic',
      ['link'],
      ['insertImage'],
      'btnGrp-lists',
      ['horizontalRule'],
      ['removeformat'],
      ['viewHTML'],
      ['fullscreen']
    ]
  };

  $('#{{ form.descriptionText.vars.id }}').trumbowyg(trumbowyg_config);
  $('#{{ form.licenseText.vars.id }}').trumbowyg(trumbowyg_config);

  /* toggle text boxes in respect to the auto update settings */
  $('#{{ form.descriptionTextAutoUpdate.vars.id }}').on('change', function() {
    var au = $('input[name="{{ form.descriptionTextAutoUpdate.vars.full_name }}"]:checked').val() == '1';
    var el = $('#descriptionText_div');
    au ? el.hide() : el.show();
  });
  $('#{{ form.licenseTextAutoUpdate.vars.id }}').on('change', function() {
    var au = $('input[name="{{ form.licenseTextAutoUpdate.vars.full_name }}"]:checked').val() == '1';
    var el = $('#licenseText_div');
    au ? el.hide() : el.show();
  });

  //insert classification
  // classification hierarchy data
  var classificationDetails = {{ classificationHierarchy|json_encode|raw }}
  var count = 1;
  for(var i = 0; i < classificationDetails.length; i++) {
    if(classificationDetails[i][2] == null) {
      $('#category-'+count+'').append('<option value="'+classificationDetails[i][3]+'" data-id='+classificationDetails[i][1]+'>'+classificationDetails[i][3]+'</option>');
    }
  }
  //adding tooltip to the button
  $('[data-toggle="tooltip"]').tooltip();

  // add a new category to the project
  removeChildCategory();
  // remove next all child category if a parent category change
	function removeChildCategory(){
				$('select').on('change',function(){
				  var id = $(this).attr('id');
				  var getCount = id.split('-');
				  count = parseInt(getCount[1]);
				  $(this).nextAll().remove();
			})
		}
  $('.add-category').on('click',function(event){
		    event.preventDefault();
		    var value = $('#category-'+count+'').val();
		    if(value != "NULL") {
		      var increase = false;
		      var id = 0;
          for(var i = 0; i < classificationDetails.length; i++) {
            if(classificationDetails[i][3] == value) {
              id = classificationDetails[i][1];
              break;
            }
          }
          for(var i = 0; i < classificationDetails.length; i++) {
            if(classificationDetails[i][2] == id) {
              if(increase == false){
                var category = $('#category-'+count+'').clone().appendTo('.classification-system');
      		      count++;
      		      category.attr('id','category-'+count+'').empty().append('<option value="NULL">select a category</option>');
                $('#category-'+count+'').append('<option value="'+classificationDetails[i][3]+'">'+classificationDetails[i][3]+'</option>');
                increase = true;
              }
              else {
                $('#category-'+count+'').append('<option value="'+classificationDetails[i][3]+'">'+classificationDetails[i][3]+'</option>');
              }
            }
          }
          //include this current select element to the remove paramenter
          removeChildCategory();
		 }
	})

  //remove a category to the project
  $('.close-category').on('click',function(event){
    event.preventDefault();
    if(count != 1) {
      $('#category-'+count+'').remove();
      count--;
    }
  })

  //send the classification of the project to controller
  $('form').on('submit',function() {
			var $self = $(this);
			var classification = '';
			for(var j = 1; j <= count ;j++) {
				if($('#category-'+j+'').val() != 'NULL') {
					if(j == 1) {
						classification = $('#category-'+j+'').val();
					}
					else {
						classification = classification + '::' + $('#category-'+j+'').val();
					}
				}
				else {
					break;
				}
			 }
			  	if(classification == '') {
			  		var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "classification").val("NULL");
			  	}
			  	else	{
			  		var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "classification").val(classification);
			  	}
               $self.append($(input));
               $self.submit();
		})

    var deleteUrl = '';
    $('.delete-classification').on('click', function(event){
  		event.preventDefault();
  		$('.confirmation-popup').addClass('is-visible');
      deleteUrl = $(this).attr('href');
  	});

  	//close popup
  	$('.confirmation-popup').on('click', function(event){
  		if( $(event.target).is('.confirmation-popup-close') || $(event.target).is('.confirmation-popup') || $(event.target).is('.close-conf')) {
  			event.preventDefault();
  			$(this).removeClass('is-visible');
  		}

      if($(event.target).is('.confirm-delete')) {
        window.location = deleteUrl;
      }
  	});
  	//close popup when clicking the esc keyboard button
  	$(document).keyup(function(event){
      	if(event.which=='27'){
      		$('.confirmation-popup').removeClass('is-visible');
  	    }
      });

});
{% endblock %}
