{% extends 'layout.html.twig' %}

{% block title %}
{{ project.displayName }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ project.displayName }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter="cssrewrite"
    "assets/css/chartist.min.css"
  %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="librecores-project-header">
  <h1>
    {{ project.displayName }}
    <small> by <a href="{{ path('librecores_project_repo_user_org_view', {'userOrOrganization': project.parentName }) }}">{{ project.parentName }}</a></small>
  </h1>
  {% if project.tagline %}
  <div class="tagline">
    {{ project.tagline }}
  </div>
  {% endif %}
  <div class="row">
    <div class="project-info col-md-8 col-sm-12">
      <div class="project-quality">
        {% if metadata.qualityScore.value > 0 %}
        <span class="stars">
          {% for _ in range(1,metadata.qualityScore.fullStars) %}
            <span class="fa fa-star" aria-hidden="true"></span>
          {% endfor %}
          {% if metadata.qualityScore.halfStars == 1 %}
            <span class="fa fa-star-half-full" aria-hidden="true"></span>
          {% endif %}
          {% set stars = metadata.qualityScore.fullStars + metadata.qualityScore.halfStars %}
          {% if stars < 5 %}
            {% for _ in range(stars + 1, 5) %}
              <span class="fa fa-star-o" aria-hidden="true"></span>
            {% endfor %}
          {% endif %}
        </span>
        <span class="star-value">{{ metadata.qualityScore.value }}/5</span>
        <span class="score-help">
          <a href="{{ path('librecores_site_page', { 'page': 'docs/code-quality' }) }}">
            <i class="fa fa-question-circle" aria-hidden="true" ></i>
            <span class="sr-only">How did we calculate this score?</span>
          </a>
        </span>
        {% else %}
        <span class="nodata text-muted">We have not analyzed this project yet</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-sm-8">

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#README" aria-controls="settings" role="tab" data-toggle="tab">
      <i class="fa fa-book" aria-hidden="true"></i>
      README
    </a>
  </li>
  <li role="presentation">
    <a href="#LICENSE" aria-controls="settings" role="tab" data-toggle="tab">
      <i class="fa fa-copyright" aria-hidden="true"></i>
      LICENSE
    </a>
  </li>
  <li role="presentation">
    <a id="project-metrics-tab" href="#project-metrics" aria-controls="project-metrics" role="tab" data-toggle="tab">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      Project metrics
    </a>
  </li>
  {% if is_granted("edit", project) %}
  <li>
    <a href="{{ path('librecores_project_repo_project_settings', {'parentName': project.parentName, 'projectName': project.name}) }}" aria-controls="settings" role="tab">
      <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
      Settings
    </a>
  </li>
  {% endif %}
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="README">
  {{  project.descriptionText|raw }}
  </div>
  <div role="tabpanel" class="tab-pane" id="LICENSE">
  {{  project.licenseText|raw }}
  </div>
  <div role="tabpanel" class="tab-pane librecores-project-metrics" id="project-metrics">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default project-meta">
          <div class="panel-heading">
            <h4 class="panel-title">Project Meta</h4>
          </div>
          <div class="panel-body">
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-plus-circle" aria-hidden="true"></i>
                <span>Registered {{ project.dateAdded | time_diff }}</span>
              </li>

              {% if metadata.firstCommit %}
                <li>
                  <i class="fa-li fa fa-bookmark" aria-hidden="true"></i>
                  <span>Started {{ metadata.firstCommit.dateCommitted | time_diff }}</span>
                </li>
              {% endif %}

              {% if metadata.latestCommit %}
                <li>
                  <i class="fa-li fa fa-refresh" aria-hidden="true"></i>
                  <span>Last commit {{ metadata.latestCommit.dateCommitted | time_diff }}</span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="panel panel-default project-meta project-commits">
          <div class="panel-heading">
            <h4 class="panel-title">Commits</h4>
          </div>
          <div class="panel-body">
            <div class="librecores-project-activity">
              {% if metadata.commitCount %}
                <div class="commit-graph ct-perfect-fourth">
                  {#  metadata.activityHistogramChart | json_encode  #}
                  {{  metadata.commitGraph | json_encode }}
                </div>
              <p class="graph-title" >Commits per year</p>
              {% else %}
              <p class="nodata"><i class="fa fa-ban" aria-hidden="true"></i> Data not available</p>
              {% endif %}
            </div>
            <div class="commit-trend">

            </div>
          </div>
        </div>
        <div class="panel panel-default project-meta project-contributors">
          <div class="panel-heading">
            <h4 class="panel-title">Contributors</h4>
          </div>
          <div class="panel-body">
            {% if project.sourceRepo.sourceStats.available %}
              <div class="contributors-graph ct-perfect-fourth">
                {{  metadata.contributorsGraph | json_encode }}
              </div>
              <p class="graph-title" >Unique contributors per year</p>
            {% else %}
              <p class="nodata"><i class="fa fa-ban" aria-hidden="true"></i> Data not available</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default project-meta project-releases">
          <div class="panel-heading">
            <h4 class="panel-title">Releases</h4>
          </div>
          <div class="panel-body">
            {% if project.releases | length > 0 %}
            <div class="alert alert-info">
              <p><i class="fa fa-cube"></i> {{ project.releases[0].name }} is
                {% transchoice project.releases | length %}
                is the only release.|is the latest of %count% releases.
                {% endtranschoice %}
              </p>
            </div>
            <div class="release-list-container">
              <ul class="release-list fa-ul">
                {% for release in project.releases %}
                <li class="{% if release.prerelease %}prerelease{% endif %}">
                  <div class="release-name">
                    <i class=" fa-li fa fa-cube"></i>{{ release.name }}
                  </div>
                  <div class="release-info text-muted">
                    <span> {{ release.publishedAt | date('M j, Y') }}</span>
                    <span>{{ release.commitID }}</span>
                    {% if release.prerelease %}
                    <span class="prerelease-tag">
                      prerelease
                    </span>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
              <p class="nodata"><i class="fa fa-ban" aria-hidden="true"></i> Data not available</p>
            {% endif %}
          </div>
        </div>
        <div class="panel panel-default project-meta ">
          <div class="panel-heading">
            <h4 class="panel-title">Languages</h4>
          </div>
          <div class="panel-body">
            {% if project.sourceRepo.sourceStats.available %}
            <div class="language-graph ct-perfect-fourth">{{ metadata.languageGraph | json_encode }}</div>
            <p class="graph-title">Share of languages used</p>
            {% else %}
            <p class="nodata"><i class="fa fa-ban" aria-hidden="true"></i> Data not available</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
<div class="col-sm-4">
  <div class="librecores-project-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <div><b>Data Sheet</b></div>
    <div>
      {% if project.projectUrl %}
      <i class="fa fa-home" aria-hidden="true"></i>
      <a href="{{ project.projectUrl | escape('html_attr') }}">Project Web Site</a>
      <br/>
      {% endif %}

      {% if project.sourceRepo %}
      {% if project.sourceRepo.type == 'git'  %}
        <i class="fa fa-git" aria-hidden="true"></i>
      {% else %}
        {{ project.sourceRepo.type }}:
      {% endif %}
      {% if project.sourceRepo.webViewUrl %}
      <a href="{{ project.sourceRepo.webViewUrl }}">{{ project.sourceRepo.url }}</a>
      {% else %}
      {{ project.sourceRepo.url }}
      {% endif %}
      <br/>
      {% endif %}

      {% if project.licenseName %}
      <i class="fa fa-copyright" aria-hidden="true"></i>
      {{ project.licenseName }}
      <br/>
      {% endif %}

      {% if project.issueTracker %}
      <i class="fa fa-bug" aria-hidden="true"></i>
      <a href="{{ project.issueTracker|escape('html_attr') }}">Issue Tracker</a>
      <br/>
      {% endif %}

      {% if project.dateLastActivityOccurred %}
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span>Last updated {{ project.dateLastActivityOccurred | time_diff }}</span>
        <br/>
      {% endif %}

      {% if project.releases | length > 0 %}
        <i class="fa fa-cube" aria-hidden="true"></i>
        <span>{{ project.releases[0].name }} released {{ project.releases[0].getPublishedAt | time_diff }}</span>
        <br/>
      {% endif %}

      {% if project.sourceRepo.sourceStats.available %}
        {%  if project.sourceRepo.sourceStats.languageStats is not empty %}
          <i class="fa fa-code" aria-hidden="true"></i>
          Language: {{ project.sourceRepo.sourceStats.mostUsedLanguage }}
          <br/>
        {%  endif %}
        {#<p>
          <i class="fa fa-star" aria-hidden="true"></i>
          {{ project.name }} consists of {{ project.sourceRepo.sourceStats.totalLinesOfCode }} lines of code,
          which would take an estimated* time of {{ project.sourceRepo.sourceStats.cocomoDuration | round(0, 'ceil') }} months by {{ project.sourceRepo.sourceStats.cocomoTeamSize }} developers.
        </p> #}
      {% endif %}

      {% if project.openIssues %}
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <span>{% transchoice project.openIssues %}1 open issue|%count% open issues{% endtranschoice %}</span>
      <br/>
      {% endif %}

      {% if project.openPullRequests %}
        <i class="fa fa-code-fork librecores-icon-pr" aria-hidden="true"></i>
        <span>{% transchoice project.openPullRequests %}1 open pull request|%count% open pull requests{% endtranschoice %}</span>
        <br/>
      {% endif %}

      {% if project.forks %}
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <span>{% transchoice project.forks %}1 fork|%count% forks{% endtranschoice %}</span>
        <br/>
      {% endif %}

      {% if project.watchers %}
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>{% transchoice project.watchers %}1 watcher|%count% watchers{% endtranschoice %}</span>
        <br/>
      {% endif %}

      {% if project.stars %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>{% transchoice project.stars %}1 star|%count% stars{% endtranschoice %}</span>
        <br/>
      {% endif %}

      {% if metadata.commitCount %}
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>{% transchoice metadata.commitCount %}1 commit|%count% commits{% endtranschoice %} by {% transchoice metadata.contributorCount %}1 contributor|%count% contributors{% endtranschoice %}</span>
        <br/>
      {% endif %}

      <div class="librecores-project-contributor-avatar-box">
        {%  for contributor in metadata.topContributors %}
        <img class="librecores-project-contributor-avatar" src="{{ contributor.avatar }}" alt="{{ contributor.name }}" data-toggle="tooltip" title="{{ contributor.name }} ({% transchoice contributor.commits|length %}1 commit|%count% commits{% endtranschoice %})" />
        {%  endfor %}
      </div>

      {% if metadata.commitCount %}
      <div class="librecores-project-activity">
        <div class="activity-graph ct-major-twelfth">
          {{  metadata.activityGraph | join(',')  }}
        </div>
        <p>Activity in last 1 year</p>
      </div>
      {% endif %}
      <p class="librecores-project-disclaimer">
        Updated {{ project.dateLastModified | time_diff }}<br />
        {# * Estimated as per the <a href="https://en.wikipedia.org/wiki/COCOMO">COCOMO model</a> for embedded projects. #}
      </p>
    </div>
  </div>

  {# XXX: Tags are not yet supported
  <div class="librecores-project-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <p><b>Tags</b></p>
    <p>CPU, some, tag, what, else</p>
  </div>
  #}
</div>

</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    'assets/js/chartist.min.js'
    'assets/js/metrics.js'
  filter="?jsqueeze" %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
