{% extends 'layout.html.twig' %}

{% block title %}
{{ project.getFullName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ project.getFullName() }}{% endblock %}

{% block content %}
<h1 style="margin-bottom:5px">{{ project.getFullName() }}</h1>
{% if project.isAssigned() %}
  {% if project.getParentOrganization() != null %}
    <p>by {{ project.getParentOrganization().getName() }}</p>
  {% else %}
    <p>by {{ project.getParentUser().getUsername() }}</p>
  {% endif %}
{% else %}
  <p><i>This project is currently not claimed by anyone. <a href="#">Is it yours?</a></i></p>
{% endif %}

<div class="row">
<div class="col-sm-8">


{% if project.getTagline() %}
<p style="margin-top:20px; margin-bottom:20px;">
  {{ project.getTagline() }}
</p>
{% endif %}


<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#README" aria-controls="settings" role="tab" data-toggle="tab">
      <i class="fa fa-book" aria-hidden="true"></i>
      README
    </a>
  </li>
  <li role="presentation">
    <a href="#LICENSE" aria-controls="settings" role="tab" data-toggle="tab">
      <i class="fa fa-copyright" aria-hidden="true"></i>
      LICENSE
    </a>
  </li>
  {% if is_granted("edit", project) %}
  <li>
    <a href="{{ path('librecores_project_repo_project_settings', {'parentName':
  project.getParentName(), 'projectName': project.getName()}) }}" aria-controls="settings" role="tab">
      <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
      Settings
    </a>
  </li>
  {% endif %}
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="README">
  {{  project.getDescriptionText()|raw }}
  </div>
  <div role="tabpanel" class="tab-pane" id="LICENSE">
  {{  project.getLicenseText()|raw }}
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="librecores-project-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <p><b>Data Sheet</b></p>
    <p>
      {% if project.getProjectUrl() %}
      <i class="fa fa-home" aria-hidden="true"></i>
      <a href="{{ project.getProjectUrl()|escape('html_attr') }}">Project Web Site</a>
      <br/>
      {% endif %}

      {% if project.getSourceRepo().getUrl() %}
      {% if project.getSourceRepo.getType() == 'git'  %}
        <i class="fa fa-git-square" aria-hidden="true"></i>
      {% else %}
        {{ project.getSourceRepo.getType() }}:
      {% endif %}
      {{ project.getSourceRepo().getUrl() }}
      <br/>
      {% endif %}

      {% if project.getLicenseName() %}
      <i class="fa fa-copyright" aria-hidden="true"></i>
      {{ project.getLicenseName() }}
      <br/>
      {% endif %}

      {% if project.getIssueTracker() %}
      <i class="fa fa-bug" aria-hidden="true"></i>
      <a href="{{ project.getIssueTracker()|escape('html_attr') }}">Issue Tracker</a>
      <br/>
      {% endif %}
    </p>
  </div>

  {# XXX: Tags are not yet supported
  <div class="librecores-project-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <p><b>Tags</b></p>
    <p>CPU, some, tag, what, else</p>
  </div>
  #}
</div>

</div>
{% endblock %}
