{% extends 'layout.html.twig' %}

{% block title %}
  LibreCores Search
{% endblock %}

{% block pagepath %}Home &raquo; LibreCores Search{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block content %}
  <form class="search-form" method="get" action="{{ path('librecores_project_repo_project_search') }}">
    <div class="librecores-search">
      <div class="row">
        <div class="col-sm-3">
          <h1>Search</h1>
        </div>
        <div class="col-sm-9">
          <div class="input-group" style="width:100%">
            <input type="search" id="search-input" placeholder="Search for ..." class="form-control">
            <span class="input-group-append">
              <button class="btn btn-default search-query" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search
              </button>
            </span>
          </div>
          <div class="algolia-search-logo">
            <img src="{{ asset('build/images/search-by-algolia.svg') }}" alt="powered by Algolia">
          </div>
        </div>
        <input type="hidden" id="q" name="query" value="{% if searchQuery %}{{ searchQuery }}{% endif %}">
        <input type="hidden" id="type" name="type" value="{{ searchType }}">
      </div>

      <div class="row">
        <div class="col-sm-3">
          {# sidebar for search refinements #}
          <ul class="list-group">
            <a id="projects" href="#"
               class=" search-type list-group-item {{ searchType == 'projects' ? 'active' : '' }} btn">
              <i class="fa fa-code"></i> Projects</a>
            <a id="organization" href="#"
               class=" search-type list-group-item {{ searchType == 'organization' ? 'active' : '' }} btn">
              <i class="fa fa-users"></i> Organization</a>
            <a id="user" href="#" class=" search-type list-group-item {{ searchType == 'user' ? 'active' : '' }} btn">
              <i class="fa fa-user"></i> Users</a>
          </ul>
          <div id="hierarchical-categories" class="facet"></div>
        </div>
        <div class="col-sm-9">
          <div id="stats"></div>
          <div id="hits"></div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </form>
  {# Templates for instant search #}

  {# User Template #}
  <script type="text/html" id="user-template">
    {% verbatim %}
      <h2><a href="/{{ username }}">{{{ _highlightResult.username.value }}}</a></h2>
      <div>{{{ _highlightResult.name.value }}}</div>
      <div><i>
          joined on {{{ createdAt.date }}}
        </i></div>
      <hr/>
    {% endverbatim %}
  </script>

  {# Organization Template #}
  <script type="text/html" id="organization-template">
    {% verbatim %}
      <h2><a href="/{{ name }}">{{{ _highlightResult.displayName.value }}}</a></h2>
      <div>{{{ _highlightResult.name.value }}}</div>
      <hr/>
    {% endverbatim %}
  </script>

  {# Project Template #}
  <script type="text/html" id="projects-template">
    {% verbatim %}
      <h2>
        <a href="/{{ parentUserName }}/{{ name }}">
          {{{ _highlightResult.parentUserName.value }}}/{{{ _highlightResult.name.value }}}
        </a>
      </h2>
      <div>{{{ _highlightResult.tagName.value }}}</div>
      <div class="classification-container">
        {{#classifications}}
        <a href="/search?query={{ . }}&type=projects" class="classifiation-tag">{{{ . }}}</a>
        {{/classifications}}
      </div>
      <div>
        <i>added on {{{ creationDetails }}}</i>
      </div>
      <div class="librecores-project-list-metadata">
          <span class="metric metric-lang">
              <i class="fa fa-code"></i>
              <span class="sr-only">Major language: </span>
            {{{ _highlightResult.mostUsedLanguage.value }}}
          </span>
        <span class="updated">
              <i class="fa fa-history"></i> Updated {{{ activityDetails }}}
          </span>
      </div>
      <hr/>
    {% endverbatim %}
  </script>
  {# passing algolia credentials to search.js #}
  <div class="hidden" id="search-data" data-search='{ "indexName": "{{ searchType }}" }'></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('search') }}
{% endblock %}
