{% extends 'layout.html.twig' %}

{% block title %}
    {{ organization.getName() }} : {{ organization.getDisplayName() }} Denied Join Request
{% endblock %}

{% block pagepath %}Home &raquo; Organizations &raquo; {{ organization.getDisplayName() }}{% endblock %}

{% block content %}
    <h1 style="margin-bottom:5px">{{ organization.getName() }} : {{ organization.getDisplayName() }}</h1>

    <p>You have successfully denied the request of {{ user.getUsernameCanonical() }} to join the organization.
    </p>
    <p><a href="{{ path('librecores_project_repo_user_org_view', {'userOrOrganization':
            organization.getName()}) }}">Return to {{ organization.getDisplayName() }}</a>
    </p>
{% endblock %}
