{% extends 'layout.html.twig' %}

{% block title %}My Organizations - LibreCores{% endblock %}

{% block pagepath %}Home &raquo; My Organizations{% endblock %}

{% block content %}
    <h1>My Organizations</h1>

    <p>
        These are the organizations you created or your are a member of:
    </p>

    {% if organizationsCreator is not empty %}
        <div class="row">
            <div class="col-sm-4">
                <h3>Name</h3>
            </div>
            <div class="col-sm-2">
                <h3>Display Name</h3>
            </div>
            <div class="col-sm-2">
                <h3>Description</h3>
            </div>
            <div class="col-sm-4">
                <h3>Actions</h3>
            </div>
        </div>

        {% for organizationCreator in organizationsCreator %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('librecores_project_repo_user_org_view',
                    {'organizationName': organizationCreator.name}) }}">{{ organizationCreator.name }}</a>
                </div>
                <div class="col-sm-2">
                    {{ organizationCreator.displayName }}
                </div>
                <div class="col-sm-2">
                    {{ organizationCreator.description }}
                </div>
                <div class="col-sm-4">
                    [ <a href="{{ path('librecores_project_repo_user_org_view',
                    {'organizationName': organizationCreator.name}) }}">View</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_settings',
                    {'organizationName': organizationCreator.name}) }}">Settings</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_remove',
                    {'organizationName': organizationCreator.name}) }}">{{ Remove }}</a> ]
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <p>
                    You haven't created any organizations
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{{ path('librecores_project_repo_organization_new') }}">Create a New Organization</a>
            </p>
        </div>
    </div>

    {% if organizationsMember is not empty %}
        <div class="row">
            <div class="col-sm-4">
                <h3>Name</h3>
            </div>
            <div class="col-sm-2">
                <h3>Display Name</h3>
            </div>
            <div class="col-sm-2">
                <h3>Description</h3>
            </div>
            <div class="col-sm-4">
                <h3>Actions</h3>
            </div>
        </div>

        {% for organizationMember in organizationsMember %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('librecores_project_repo_user_org_view',
                    {'organizationName': organizationMember.name}) }}">{{ organizationMember.name }}</a>
                </div>
                <div class="col-sm-2">
                    {{ organizationOwner.displayName }}
                </div>
                <div class="col-sm-2">
                    {{ organizationOwner.description }}
                </div>
                <div class="col-sm-4">
                    [ <a href="{{ path('librecores_project_repo_user_org_view',
                    {'organizationName': organizationMember.name}) }}">View</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_leave',
                    {'organizationName': organizationMember.name}) }}">{{ Leave }}</a> ]
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <p>
                    You are not a member of any organizations
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{{ path('librecores_project_repo_organization_search') }}">Search Organizations</a>
            </p>
        </div>
    </div>

{% endblock %}
