{% extends 'layout.html.twig' %}

{% block title %}My Organizations - LibreCores{% endblock %}

{% block pagepath %}Home &raquo; My Organizations{% endblock %}

{% block content %}
    <h1>My Organizations</h1>

    <p>
        These are the organizations you are a member of:
    </p>

    {% if organizations is not empty %}
        <div class="row">
            <div class="col-sm-2">
                <h3>Name</h3>
            </div>
            <div class="col-sm-2">
                <h3>Display Name</h3>
            </div>
            <div class="col-sm-3">
                <h3>Description</h3>
            </div>
            <div class="col-sm-2">
                <h3>Permissions</h3>
            </div>
            <div class="col-sm-3">
                <h3>Actions</h3>
            </div>
        </div>

        {% for organization in organizations %}
            <div class="row">
                <div class="col-sm-2">
                    <a href="{{ path('librecores_project_repo_user_org_view',
                    {'userOrOrganization': organization.name}) }}">{{ organization.name }}</a>
                </div>
                <div class="col-sm-2">
                    {{ organization.displayName }}
                </div>
                <div class="col-sm-3">
                    {{ organization.description }}
                </div>
                <div class="col-sm-2">
                    {% if organization.permissions == 'MEMBER' %} Member {% endif %}
                    {% if organization.permissions == 'ADMIN' %} Admin {% endif %}
                    {% if organization.permissions == 'REQUEST' %} Join Request {% endif %}
                    {% if organization.permissions == 'DENY' %} Denied Request {% endif %}
                </div>
                <div class="col-sm-3">
                    [ <a href="{{ path('librecores_project_repo_user_org_view',
                    {'userOrOrganization': organization.name}) }}">View</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_settings',
                    {'organizationName': organization.name}) }}">Settings</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_settings_delete',
                    {'organizationName': organization.name}) }}">Delete</a> ]
                    [ <a href="{{ path('librecores_project_repo_organization_settings_leave',
                    {'organizationName': organization.name}) }}">Leave</a> ]
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <p>
                    You are not a member of any organizations
                </p>
            </div>
        </div>
    {% endif %}

    <p></p>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{{ path('librecores_project_repo_organization_new') }}">Create a New Organization</a>
            </p>
        </div>
    </div>

{% endblock %}
