{% extends 'layout.html.twig' %}

{% block title %}
Add your organization to LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Add your Organization to LibreCores{% endblock %}

{% block content %}
<h1>Add your organization to LibreCores</h1>

<p>Adding your organization to LibreCores is easy: just give us a name for your
organization and a description!</p>

{{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.name, "Organization name on LibreCores") }}
    {{ form_errors(form.name) }}
    <div class="form-inline">
      {{ form_widget(form.name, {'attr': {'placeholder': 'organization name'}}) }}
    </div>
    <div>Your organization will live at librecores.org/p/<span id="url-orgname">{{ organization.name }}</span></div>
  </div>

  <div class="form-group">
    {{ form_label(form.displayName, "What's the display name of your organization?") }}
    {{ form_errors(form.displayName) }}
    <div class="form-inline">
      {{ form_widget(form.displayName, {'attr': {'placeholder': 'display name'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.description, "Give us a short description of your organization") }}
    {{ form_errors(form.description) }}
    <div class="form-inline">
      {{ form_widget(form.description, {'attr': {'placeholder': 'description'}}) }}
    </div>
  </div>

  {{ form_row(form.save) }}
{{ form_end(form) }}

{% endblock %}

{% block pagejs %}
$('#{{ form.name.vars.id|e('js') }}')
  .keyup(function() {
    var value = $(this).val();
     $('#url-orgname').text(value);
  })
  .keyup();
{% endblock %}
