{% extends 'layout.html.twig' %}

{% block title %}
    {{ organization.getName() }} : {{ organization.getDisplayName() }} Remove Member
{% endblock %}

{% block pagepath %}Home &raquo; Organizations &raquo; {{ organization.getDisplayName() }}{% endblock %}

{% block content %}
    <h1 style="margin-bottom:5px">{{ organization.getName() }} : {{ organization.getDisplayName() }}</h1>

    {% if not memberIsCreator %}
        <p>You have successfully removed {{ user.username }} from the organization {{ organization.getName() }} ("{{ organization.getDisplayName() }}").
        </p>
    {% else %}
        <p>You cannot remove the organization creator!
        </p>
    {% endif %}

    <p><a href="{{ path('librecores_project_repo_user_org_view', {'userOrOrganization':
            organization.getName()}) }}">Return to {{ organization.getDisplayName() }}</a>
    </p>
{% endblock %}
