{% extends 'layout.html.twig' %}

{% block title %}
    {{ organization.getName() }} : {{ organization.getDisplayName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Organizations &raquo; {{ organization.getDisplayName() }}{% endblock %}

{% block content %}

    <h1 style="margin-bottom:5px">{{ organization.getName() }} : {{ organization.getDisplayName() }}</h1>

    <p>Name: {{ organization.getName() }}</p>
    <p>Display Name: {{ organization.getDisplayName() }}</p>
    <p>Description: {{ organization.getDescription() }}</p>
    <p>Owner: <a href="{{ path('librecores_project_repo_user_org_view',
        {'userOrOrganization': organization.getOwner()}) }}">
            {{ organization.getOwner() }}</a>
    </p>

    <p>
    <h2>Members</h2>
    {% for member in organization.getMembers() %}
        <a href="{{ path('librecores_project_repo_user_org_view',
        {'userOrOrganization': member.getUsernameCanonical()}) }}">
            {{  member.getUsernameCanonical() }}</a><br/>
    {% else %}
        {{ organization.getDisplayName() }} doesn't have any members yet.
    {% endfor %}
    </p>

    <p>
    <h2>Projects</h2>
    {% for project in organization.getProjects() %}
        <a href="{{ path('librecores_project_repo_project_view', {'parentName':
            project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getName() }}</a>
        {% if project.getTagline() is not null %} - {{ project.getTagline() }}{% endif %}<br/>
    {% else %}
        {{ organization.getDisplayName() }} does not yet contain any projects.
    {% endfor %}
    </p>

    {% if organization.getOwner() == user %}
        <p>
        <h2><a href="{{ path('librecores_project_repo_user_org_settings',
            { 'userOrOrganization': organization.getName() }) }}">Organization Settings</a></h2>
        </p>

        <p>
        <h2><a href="{{ path('librecores_project_repo_organization_settings_remove',
            { 'organizationName': organization.getName() }) }}">Remove Organization</a></h2>
        </p>
        <p>
        <h2>Join Requests</h2>
        {% for userRequest in organization.getRequests() %}
            <a href="{{ path('librecores_project_repo_user_org_view',
                {'userOrOrganization': userRequest.getUsernameCanonical()}) }}">
                    {{  userRequest.getUsernameCanonical() }}</a> -
                <a href="{{ path('librecores_project_repo_organization_settings_approve',
                { 'organizationName': organization.getName(),
                  'userName': userRequest.getUsernameCanonical() }) }}">Approve Request</a><br/>
        {% else %}
            {{ organization.getDisplayName() }} has not yet received any join requests.
        {% endfor %}
        </p>
    {% elseif organization not in user.getOrganizationsRequest() and
              organization not in user.getOrganizationsMember() %}
        <p>
            <h3><a href="{{ path('librecores_project_repo_organization_settings_join',
            { 'organizationName': organization.getName() }) }}">Join Organization</a></h3>
        </p>
    {% elseif organization in user.getOrganizationsRequest() %}
        <p>
        <h3>You request to join the organization is waiting approval by the organization's owner.</h3>
        </p>
    {% elseif organization in user.getOrganizationsMember() %}
        <p>
        <h3><a href="{{ path('librecores_project_repo_organization_settings_leave',
            { 'organizationName': organization.getName() }) }}">Leave Organization</a></h3>
        </p>
    {% endif %}

{% endblock %}
