{% extends 'layout.html.twig' %}

{% block title %}
    {{ organization.getName() }} : {{ organization.getDisplayName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Organizations &raquo; {{ organization.getDisplayName() }}{% endblock %}

{% block content %}

    <h1 style="margin-bottom:5px">{{ organization.getName() }} : {{ organization.getDisplayName() }}</h1>

    <p><b>Name:</b> {{ organization.getName() }}</p>
    <p><b>Display Name:</b> {{ organization.getDisplayName() }}</p>
    <p><b>Description:</b> {{ organization.getDescription() }}</p>

    {# Do not show the creator }
    <p>Creator: <a href="{{ path('librecores_project_repo_user_org_view',
        {'userOrOrganization': organization.getCreator()}) }}">
            {{ organization.getCreator() }}</a>
    </p>
    {#}

    <hr/>
    <h2>Projects</h2>
    <p>
    {% for project in organization.getProjects() %}
        <a href="{{ path('librecores_project_repo_project_view', {'parentName':
            project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getName() }}</a>
        {% if project.getTagline() is not null %} - {{ project.getTagline() }}{% endif %}<br/>
    {% else %}
        {{ organization.getDisplayName() }} doesn't yet contain any projects.
    {% endfor %}
    </p>

    <hr/>
    <h2>Supporters</h2>
    <p>
    {% for user in supporters %}
        <a href="{{ path('librecores_project_repo_user_org_view',
        {'userOrOrganization': user.getUser.getUsernameCanonical()}) }}">
            {{  user.getUser.getUsernameCanonical() }}</a> -
        <a href="{{ path('librecores_project_repo_organization_settings_approve',
        { 'organizationName': organization.getName(),
            'userName': user.getUser.getUsernameCanonical() }) }}">Approve Request</a><br/>
    {% else %}
        {{ organization.getDisplayName() }} doesn't have any supporters.
    {% endfor %}
    </p>

    <hr/>
    <h2>Members</h2>
    <p>
    {% for user in members|merge(admins) %}
        <a href="{{ path('librecores_project_repo_user_org_view',
        {'userOrOrganization': user.getUser.getUsernameCanonical()}) }}">
            {{  user.getUser.getUsernameCanonical() }}</a>
        {% if userIsMember or userIsAdmin %}
            - <a href="{{ path('librecores_project_repo_organization_settings_remove',
            { 'organizationName': organization.getName(),
              'userName': user.getUser.getUsernameCanonical() }) }}">Remove</a>
        {% endif %}
        <br/>
    {% else %}
        {{ organization.getDisplayName() }} doesn't yet have any members.
    {% endfor %}
    </p>

    {% if userIsMember or userIsAdmin %}
        <h3>Join Requests</h3>
        <p>
        {% for user in requests %}
            <a href="{{ path('librecores_project_repo_user_org_view',
                {'userOrOrganization': user.getUser.getUsernameCanonical()}) }}">
                    {{  user.getUser.getUsernameCanonical() }}</a> -
                <a href="{{ path('librecores_project_repo_organization_settings_approve',
                { 'organizationName': organization.getName(),
                  'userName': user.getUser.getUsernameCanonical() }) }}">Approve Request</a> -
            <a href="{{ path('librecores_project_repo_organization_settings_deny',
                { 'organizationName': organization.getName(),
                  'userName': user.getUser.getUsernameCanonical() }) }}">Deny Request</a><br/>
        {% else %}
            {{ organization.getDisplayName() }} hasn't yet received any join requests.
        {% endfor %}
        </p>

        <h3>Denied Requests</h3>
        <p>
        {% for user in denies %}
            <a href="{{ path('librecores_project_repo_user_org_view',
            {'userOrOrganization': user.getUser.getUsernameCanonical()}) }}">
                {{  user.getUser.getUsernameCanonical() }}</a> -
            <a href="{{ path('librecores_project_repo_organization_settings_approve',
            { 'organizationName': organization.getName(),
                'userName': user.getUser.getUsernameCanonical() }) }}">Approve Request</a><br/>
        {% else %}
            {{ organization.getDisplayName() }} hasn't yet denied any join requests.
        {% endfor %}
        </p>

        <hr/>
        <h2>Actions</h2>
        <p>
        <a href="{{ path('librecores_project_repo_user_org_settings',
            { 'userOrOrganization': organization.getName() }) }}">Organization Settings</a>
        </p>

        <p>
        <a href="{{ path('librecores_project_repo_organization_settings_leave',
            { 'organizationName': organization.getName() }) }}">Leave Organization</a>
        </p>

        <p>
        <a href="{{ path('librecores_project_repo_organization_settings_delete',
            { 'organizationName': organization.getName() }) }}">Delete Organization</a>
        </p>
    {% endif %}


    {% if not userIsMember and not userIsAdmin and not userHasRequest and not userWasDenied %}
        <h3><a href="{{ path('librecores_project_repo_organization_settings_join',
            { 'organizationName': organization.getName() }) }}">Join Organization</a></h3>
    {% elseif userHasRequest %}
        <h3>You request to join the organization is waiting approval by the organization's owner.</h3>
    {% elseif userWasDenied %}
        <h3>You request to join the organization was denied by the organization's owner.</h3>
    {% endif %}

{% endblock %}
