{% extends 'layout.html.twig' %}

{% block title %}
{{ core.getVendor() }}/{{ core.getName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Cores &raquo; philipp/test{% endblock %}

{% block content %}
<h1 style="margin-bottom:5px">{{ core.getVendor() }}/{{ core.getName() }}</h1>
<p>by Some Author</p>

<div class="row">
<div class="col-md-9">

<p style="margin-top:20px; margin-bottom:20px;">This is a short core description of an awesome core.</p>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">README</a></li>
  <li role="presentation"><a href="#">LICENSE</a></li>
</ul>

<div style="border-bottom: 1px solid #DDD; border-left: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; font-size:100%">
    <h1>mor1kx - an OpenRISC processor IP core</h1>
    <h2>The Basics</h2>

    This repository contains an OpenRISC 1000 compliant processor IP core.

    It is written in Verilog HDL.

    This repository only contains the IP source code and some documentation. For a verification environment, please see other projects.
    Documentation

    The documentation is located in the doc/ directory.

    It is asciidoc format, and there's a makefile in there to build HTML or PDF. To build the HTML documentation, run the following in the doc/ directory:

      make html

    <h2>License</h2>

    It is licensed under the Open Hardware Description License (OHDL). For details please see the LICENSE file or http://juliusbaxter.net/ohdl/
</div>
</div>
<div class="col-md-3">
  <div class="librecores-core-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <p><b>Data Sheet</b></p>
    <p>License: MIT<br/>
    Last update: 1.2.2015<br/>
    git: <a href="http://github.com/openrisc/mor1kx">github.com/openrisc/mor1kx</a><br/>
    <a href="{{  core.getIssueTracker() }}">Issue Tracker</a><br/>
    <a href="{{  core.getProjectUrl() }}">Project Web Site</a>

    </p>
  </div>

</div>

</div>
{% endblock %}
