{% block head %}
    {# To be moved to an independent css file #}
    <style>
        .seen-form, .remove-form{
            display: inline-block;
        }
        .notification-date{
            font-size: 11px;
        }
        .notification-message{
            font-size:14px;
            color: inherit;
        }
        .notification-message, .notification-date, .notification-action{
            list-style:none;
            text-align: left;
        }
        .form-buttons{
            font-size: 11px;
            background:none;
            color:inherit;
            border:none;
            padding:0!important;
        }
        .notification-unseen{
            background-color: #72B4B2;
            color:white;
        }
        .all-notification{
            padding: 2px;
            color:black;
        }
    </style>
{% endblock %}

{% block body %}
    {% if mgilet_notification_count(app.user) != 0 %}
        {% for notification in notificationList %}
            <div class="all-notification">
                {% if (notification.seen == false) %}
                    {# Render the an unseen Notification #}
                    <div class="notification-unseen">
                        <li class="notification-date">{{ notification.notification.date|date }}</li>
                        <li class="notification-message">
                            {{ notification.notification.message }}
                        </li>
                        {#Buttons to mark a notification as seen and also remove it#}
                        <div class="notification-action">
                            <form class="seen-form"
                                  action="{{ path('notification_mark_seen',
                                      {'notifiable':notification.notifiableEntity.id, 'notification': notification.notification.id})
                                  }}"
                                  method="post">
                                <button class="form-buttons" type="submit"><u>Mark as Seen</u></button>
                            </form>
                            <form class="remove-form"
                                  action="{{ path('remove_notification',
                                      {'notifiable':notification.notifiableEntity.id, 'notification': notification.notification.id}) }}"
                                  method="post">
                                <button class="form-buttons" type="submit"><u>Remove</u></button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="notification-seen">
                        <li class="notification-date">{{ notification.notification.date|date }}</li>
                        <li class="notification-message">{{ notification.notification.message }}</li>
                        {#Button to remove a Notification#}
                        <div class="notification-action">
                            <form class="remove-form" action="{{ path('remove_notification', {'notifiable':notification.notifiableEntity.id, 'notification': notification.notification.id}) }}"
                                  method="post">
                                <button class="form-buttons" type="submit"><u>Remove</u></button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <li>Welcome to Librecores website!</li>
    {% endif %}
{% endblock %}
