{% extends 'layout.html.twig' %}

{% block title %}
{{ parentName }}/{{ project.getName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ parentName }}/{{ project.getName() }}{% endblock %}

{% block content %}
<h1 style="margin-bottom:5px">{{ parentName }}/{{ project.getName() }}</h1>
<p>by Some Author</p>

<div class="row">
<div class="col-md-9">

<p style="margin-top:20px; margin-bottom:20px;">This is a short description of an awesome project.</p>


<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#README" aria-controls="settings" role="tab" data-toggle="tab">README</a>
  </li>
  <li role="presentation">
    <a href="#LICENSE" aria-controls="settings" role="tab" data-toggle="tab">LICENSE</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="README">
  {{  project.getReadmeFileContent()|raw }}
  </div>
  <div role="tabpanel" class="tab-pane" id="LICENSE">
  {{  project.getLicenseFileContent()|raw }}
  </div>
</div>

</div>
<div class="col-md-3">
  <div class="librecores-project-infobox" style="background-color: #f7f7f7; padding: 10px; border-radius: 3px;">
    <p><b>Data Sheet</b></p>
    <p>License: MIT<br/>
    Last update: 1.2.2015<br/>
    git: <a href="http://github.com/openrisc/mor1kx">github.com/openrisc/mor1kx</a><br/>
    <a href="{{ project.getIssueTracker() }}">Issue Tracker</a><br/>
    <a href="{{ project.getProjectUrl() }}">Project Web Site</a>

    </p>
  </div>

</div>

</div>
{% endblock %}
