<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" sizes="32x32">

  {% block stylesheets %}
    {% stylesheets 'assets/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    {% javascripts '@js_head' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700" rel="stylesheet" type="text/css">

  {% block head_additional %}{% endblock %}
</head>
<body>
  <!-- top navigation bar -->
  <nav class="navbar navbar-fixed-top librecores-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('librecores_site_page') }}" alt="LibreCores">
          <span class="wordmark">LibreCores</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('librecores_project_repo_homepage') }}">Browse Projects</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">Community Hub</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'about'}) }}">About LibreCores</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('fos_user_profile_edit') }}">
                  Profile settings
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ path('fos_user_security_logout') }}">
                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
              </li>
              </ul>
          {% else %}
            <li>
              <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <!-- footer -->
  <hr>
  <footer class="librecores-footer">
    <p>
      LibreCores is a project of the <a href="http://fossi-foundation.org">Free and Open Source Silicon Foundation</a> &middot;
      <a href="{{ path('librecores_site_page', {'page': 'imprint'}) }}">Imprint</a>
    </p>
  </footer>

  {% block javascripts %}
    {% javascripts '@js_body_end' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
      {% block pagejs %}{% endblock %}
    </script>
  {% endblock %}
</body>
</html>
