<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" sizes="32x32">

  {% block stylesheets %}
    {% stylesheets filter="scssphp,cssrewrite" output="css/app.css"
        "assets/scss/bootstrap-librecores.scss"
        "assets/css/*.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    {% javascripts filter="?jsqueeze" output="js/app_head.js" '@js_head'%}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  <![endif]-->

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700" rel="stylesheet" type="text/css">

  {% block head_additional %}{% endblock %}

  <link rel="search" type="application/opensearchdescription+xml" href="/search.osd" title="LibreCores" />
</head>
<body>
  <!-- top navigation bar -->
  <nav class="navbar navbar-fixed-top librecores-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('librecores_site_home') }}">
          <span class="wordmark">LibreCores</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('librecores_project_repo_project_search') }}">Search</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'docs'}) }}">Learn</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
            <ul class="dropdown-menu">
          <li><a href="{{ path('librecores_planet_homepage') }}">Planet LibreCores</a></li>
              <li><a href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">Community Hub</a></li>
            </ul>
          </li> 
          <li><a href="{{ path('librecores_site_page', {'page': 'librecores-ci'}) }}">LibreCores CI</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'about'}) }}">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('librecores_project_repo_project_new') }}">
                  Add project
                </a>
              </li>
              {#<li>
                <a href="{{ path('fos_user_profile_edit') }}">
                  Profile settings
                </a>
              </li>#}
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ path('fos_user_security_logout') }}">
                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
              </li>
              </ul>
          {% else %}
            <li>
              <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <!-- footer -->
  <hr>
  <footer class="librecores-footer">
    <p>
      LibreCores is a project of the <a href="http://fossi-foundation.org">Free and Open Source Silicon Foundation</a> &middot;
      <a href="{{ path('librecores_site_page', {'page': 'imprint'}) }}">Imprint</a>
    </p>
  </footer>

  {% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/app_body.js" '@js_body_end' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
      {% block pagejs %}{% endblock %}
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85345883-1', 'auto');
      ga('send', 'pageview');

    </script>
  {% endblock %}
</body>
</html>
