<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
  <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" sizes="32x32">

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700" rel="stylesheet" type="text/css">

  {% block head_additional %}{% endblock %}

  <link rel="search" type="application/opensearchdescription+xml" href="/search.osd" title="LibreCores" />
</head>
<body>
  <!-- top navigation bar -->
  <nav class="navbar navbar-fixed-top librecores-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('librecores_site_home') }}">
          <span class="wordmark">LibreCores</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('librecores_project_repo_project_search') }}">Search</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'docs'}) }}">Learn</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
            <ul class="dropdown-menu">
          <li><a href="{{ path('librecores_planet_homepage') }}">Planet LibreCores</a></li>
              <li><a href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">Community Hub</a></li>
            </ul>
          </li>
          <li><a href="{{ path('librecores_site_page', {'page': 'librecores-ci'}) }}">LibreCores CI</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'about'}) }}">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell" aria-hidden="true"></i>
              {{ mgilet_notification_unseen_count(app.user) }}
              <span class="sr-only"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="text-align: center">
              <a href="" style="background-color:#69878f; color:white">Notification Settings</a>
              <div style="overflow: scroll; height: 200px; padding:10px">
                {{ mgilet_notification_render(app.user, { 'template': './notification_template/notification_list.html.twig', 'order': 'DESC'}) }}
              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-plus"></i>
              <span class="sr-only">Add to LibreCores</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('librecores_project_repo_project_new') }}">
                  New Project
                </a>
              </li>
              <li>
                <a href="{{ path('librecores_project_repo_organization_new') }}">
                  New Organization
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('librecores_project_repo_user_org_view',
                                 {'userOrOrganization': app.user.username}) }}">
                  Your Profile
                </a>
              </li>
              <li>
                <a href="{{ path('librecores_project_repo_organization_list') }}">
                  Your Organizations
                </a>
              </li>
              {#<li>
                <a href="{{ path('fos_user_profile_edit') }}">
                  Profile Settings
                </a>
              </li>#}
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ path('fos_user_security_logout') }}">
                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
              </li>
              </ul>
          {% else %}
            <li>
              <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <!-- footer -->
  <footer class="librecores-footer">
    <nav class="container">
      <div class="row">
        <ul class="social col-xs-7 col-sm-4 col-md-2 pull-right">
          <li><a href="https://github.com/librecores/librecores-web" title="Contribute to LibreCores on GitHub"><span class="fa fa-github"></span></a></li>
          <li><a href="https://twitter.com/librecores" title="Follow @librecores on Twitter"><span class="fa fa-twitter"></span></a></li>
          <li><a href="mailto:librecores@fossi-foundation.org" title="Contact us via email"><span class="fa fa-envelope"></span></a></li>
        </ul>
        <ul class="col-sm-2">
          <li><a href="{{ path('librecores_site_page', {'page': 'about'}) }}">About LibreCores</a></li>
          <li><a href="https://medium.com/librecores">Blog</a></li>
          <li><a href="{{ path('librecores_site_page', {'page': 'imprint'}) }}">Imprint</a></li>
        </ul>
        <ul class="col-sm-2">
          <li><a href="{{ path('librecores_project_repo_project_search') }}">Search an IP core</a></li>
          <li><a href="{{ path('librecores_project_repo_project_new') }}">Add a project</a></li>
          <li><a href="https://librecores-web.readthedocs.io/en/latest/contributing.html">Contribute to this site</a></li>
        </ul>
      </div>
      <div class="row">
        <p class="col-xs-12">LibreCores is a project of the <a href="https://www.fossi-foundation.org">Free and Open Source Silicon Foundation</a>.</p>
      </div>
    </nav>
  </footer>
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85345883-1', 'auto');
      ga('send', 'pageview');

    </script>
  {% endblock %}
</body>
</html>
