{% extends 'base.html.twig' %}

{% block title %}LibreCores &middot; Free and Open Source Digital Hardware{% endblock %}

{% block body %}
<!-- "claim" -->
<div class="librecores-home-claim">
  <div class="container">
    <h1>Free and Open Digital Hardware</h1>
    <p class="lead">
      LibreCores is the community hub of open source IP cores.
      It helps you to release, maintain, advertise and find digital hardware designs.
    </p>
  </div>
</div>

<!-- search -->
<div class="librecores-home-search">
<div class="container">
<form class="form-inline center-block">
  <label>What are you looking for?</label>
  <input type="text" class="form-control" >
  <button class="btn btn-default" type="submit">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Find Project
  </button>
</form>
</div>
</div>
</div>

<!-- 3 columns with main messages -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-4">
      <h2>What is an IP Core?</h2>
      <p>An IP Core is a building block of any modern chip. It's like a library
      in software programming, just for hardware.</p>
      <!--<p><a class="btn btn-default" href="docs">get started documentation &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>What is LibreCores?</h2>
      <p>LibreCores is a loose community of people with a common goal: create free, high-quality IP cores.</p>
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'about'}) }}">Learn more about LibreCores &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Get involved</h2>
      <p>Sounds interesting? Get involved! </p>
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'contribute'}) }}">Upload an IP Core &raquo;</a></p>
    </div>
  </div>
</div>

<!-- community activity -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-4">
      <h2>Recent Blog Posts</h2>
      {% for post in blogposts %}
          <p>
            <div><b>{{ post.author }}: {{ post.title }}</b></div>
            <div>{{ post.teaser }}</div>
          </p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>Recent Tweets</h2>
      <a class="twitter-timeline" href="https://twitter.com/hashtag/openrisc" data-widget-id="575061873160249344">#openrisc-Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-4">
      <h2>Recent Mailing List threads</h2>
    </div>
  </div>
</div>
{% endblock %}
