{% extends 'base.html.twig' %}

{% block title %}LibreCores &middot; Free and Open Source Digital Hardware{% endblock %}

{% block body %}
<!-- "claim" -->
<div class="librecores-home-claim">
  <div class="container">
    <h1>Free and Open Digital Hardware</h1>
    <p class="lead">
      LibreCores is where the digital hardware community meets.
      Find IP cores. Learn to use them. Release your own designs. Join the community.
    </p>
  </div>
</div>

<!-- search -->
<div class="librecores-home-search">
<div class="container">
{# disabled until it's functional
<form class="form-inline center-block">
  <label>What are you looking for?</label>
  <input type="text" class="form-control" >
  <button class="btn btn-default" type="submit">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Find Project
  </button>
</form>
#}
</div>
</div>
</div>

<!-- 3 columns with main messages -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-6">
      <h2>What is LibreCores?</h2>
      <p>Digital devices (or commonly "chips") are the basic building
	blocks of electronic systems. Such devices are for
	application-specific devices like a USB controller. But also
	programmable "System-on-Chip" are found in embedded
	systems. Both tastes of a chip are composed of basic building
	blocks, so called IP (Intellectual Property) cores.

	A "LibreCore" is such an IP core that is created and
	distributed in the open source spirit. And LibreCores.org is
	like a good neighborhood pub, a place to meet the community
	and &mdash;most importantly&mdash; find such cores.</p>
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'about'}) }}">Learn more about LibreCores &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Getting started with your LibreCore</h2>
      <p>We are heavily working on making LibreCores.org the community
      hub where you can attract the attention of like-minded
      developers to your LibreCore or find a fitting cor for your
      project. While we are working on it, you are maybe working on a
      LibreCore or about to start one. To give you a quick start we
      have assembled some information about project handling and
      licensing:</p>
      <p><a class="btn btn-default" href="docs">Getting started with your own LibreCore &raquo;</a></p>
    </div>
  </div>
</div>

<!-- community activity -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-6">
      <h2>Feel the pulse</h2>
      <p>What's going on in the digital hardware design community?
      <a href="{{ path('librecores_planet_homepage') }}">Planet Librecores</a> collects blog posts from different
      community members. Subscribe to it in your feed reader,
      or <a href="{{ path('librecores_planet_homepage') }}">read it online</a>.</p>

      <p><a class="btn btn-default" href="{{ path('librecores_planet_homepage') }}">Read Planet LibreCores &raquo;</a></p>

      {#
      {% for post in blogposts %}
          <p>
            <div><a rel="nofollow" href="{{ post.url }}"><b>{{ post.author }}: {{ post.title }}</b></a></div>
            <div>{{ post.teaser }}</div>
          </p>
      {% endfor %}
      #}
    </div>
    <div class="col-md-6">
      <h2>Be part of it</h2>
      <p>Getting started with digital hardware design has never been easier. You can do it!</p>
      <p>Our Community Hub collects a range of information for you to get started. Where to get answers? How to publish existing code? What are the restrictions of using code?
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">Visit the Community Hub now &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
