{% extends 'base.html.twig' %}

{% block title %}LibreCores &middot; Free and Open Source Digital Hardware{% endblock %}

{% block body %}

<div class="librecores-home-startpane">
  <div class="librecores-home-banner">
    <div class="container">
                <div class="row librecores-home-banner-wordmark">LibreCores</div>
                <div class="row librecores-home-banner-claim">We drive Free and Open Digital Hardware.</div>

<form name="search-form" method="get" action="{{ path('librecores_project_repo_project_search') }}">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="What IP is missing in your project?">
        <span class="input-group-btn">
      <button class="btn btn-danger" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="hidden-xs">Find IP Project</span></button>
        </span>
    </div>
</form>
    </div>
  </div>

  <div class="librecores-home-showcase">
            <div class="container hidden-xs">
                <div class="col-sm-1 "></div>
                <div class="col-sm-2">
                    <img src="/img/home-cat-1.svg" alt="engage" />
        <div class="librecores-home-showcase-keyword">engage</div>
        <div class="librecores-home-showcase-desc">
          You're not alone.
          Meet other developers, engage and tackle your challenges together.
          Join the mailing list, hop on to IRC, or read blogs.

          <a class="librecores-home-showcase-btn"
             href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">
            » Community Hub
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <img src="{{ asset('img/home-cat-2.svg') }}" alt="code"/>
        <div class="librecores-home-showcase-keyword">code</div>
        <div class="librecores-home-showcase-desc">
          Express your ideas in code.
          Create new digital hardware designs and improve existing ones.
          Open them up for the world to see.

          <a class="librecores-home-showcase-btn"
             href="{{ path('librecores_project_repo_project_new') }}">
            » Add a project
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <img src="{{ asset('img/home-cat-3.svg') }}" alt="share"/>
        <div class="librecores-home-showcase-desc">
          <div class="librecores-home-showcase-desc-middle-claim">LibreCores is sharing</div>
          Share IP cores.
          Share knowledge.
          Share the fun of free and open digital hardware design.
        </div>
      </div>
      <div class="col-sm-2">
        <img src="{{ asset('img/home-cat-4.svg') }}" alt="reuse"/>
        <div class="librecores-home-showcase-keyword">reuse</div>
        <div class="librecores-home-showcase-desc">
          Implement your ideas faster: build on a great stack of existing work!
          The LibreCores Project Repository lists IP cores and related projects.

          <a class="librecores-home-showcase-btn"
             href="{{ path('librecores_project_repo_homepage') }}">
            » Browse projects
          </a>
        </div>
      </div>
      <div class="col-sm-2">
      <img src="{{ asset('img/home-cat-5.svg') }}" alt="learn"/>
        <div class="librecores-home-showcase-keyword">learn</div>
        <div class="librecores-home-showcase-desc">
          Get started with VHDL, Verilog and other languages.
          Find out what tools you can use.
          Learn which licenses are best for your project.

          <a class="librecores-home-showcase-btn"
             href="{{ path('librecores_site_page', {'page': 'docs'}) }}">
            » Read the docs
          </a>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
            <div class="container visible-xs-block">
                <div class="row">
                    <div class="col-fa-3x">
                        <i class="fa fa-comment-o fa-3x fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 col-offset-fa-3x">
                        <div class="row">
                            You're not alone. Meet other developers, engage and tackle your challenges together. Join the mailing list, hop on to IRC, or read blogs.
                            <a class="librecores-home-showcase-link-xs" href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}"> » Community Hub </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-fa-3x">
                        <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 col-offset-fa-3x">
                        <div class="row">
                            Express your ideas in code. Create new digital hardware designs and improve existing ones. Open them up for the world to see.
                            <a class="librecores-home-showcase-link-xs" href="{{ path('librecores_project_repo_project_new') }}">
» Add a project
</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-fa-3x">
                        <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 col-offset-fa-3x">
                        <div class="row">
                        Share IP cores. Share knowledge. Share the fun of free and open digital hardware design.
                        <a class="librecores-home-showcase-link-xs" href="{{ path('librecores_project_repo_project_new') }}">
» Add a project
</a></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-fa-3x">
                        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 col-offset-fa-3x">
                        <div class="row">
                        Implement your ideas faster: build on a great stack of existing work! The LibreCores Project Repository lists IP cores and related projects.
                        <a class="librecores-home-showcase-link-xs" href="{{ path('librecores_project_repo_homepage') }}">
» Browse projects
</a></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-fa-3x">
                        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 col-offset-fa-3x">
                        <div class="row">
                        Get started with VHDL, Verilog and other languages. Find out what tools you can use. Learn which licenses are best for your project.
                        <a class="librecores-home-showcase-link-xs" href="{{ path('librecores_site_page', {'page': 'docs'}) }}">
» Read the docs
</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>What is LibreCores?</h2>
          <p>Digital devices (or commonly "chips") are the basic
            building blocks of electronic systems. Such devices are for
            application-specific devices like a USB controller. But also
            programmable "System-on-Chip" are found in embedded systems.
            Both tastes of a chip are composed of basic building blocks,
            so called IP (Intellectual Property) cores. A "LibreCore" is
            such an IP core that is created and distributed in the open
            source spirit. And LibreCores.org is like a good
            neighborhood pub, a place to meet the community and
            &mdash;most importantly&mdash; find such cores.</p>
          <p>
            <a class="btn btn-default"
              href="{{ path('librecores_site_page', {'page': 'about'}) }}">Learn
              more about LibreCores &raquo;</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Getting started with your LibreCore</h2>
          <p>We are heavily working on making LibreCores.org the
            community hub where you can attract the attention of
            like-minded developers to your LibreCore or find a fitting
            core for your project. While we are working on it, you are
            maybe working on a LibreCore or about to start one. To give
            you a quick start we have assembled some information about
            project handling and licensing:</p>
          <p>
            <a class="btn btn-default"
              href="{{ path('librecores_site_page', {'page': 'docs'}) }}">Getting
              started with your own LibreCore &raquo;</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Feel the pulse</h2>
          <p>
            What's going on in the digital hardware design community? <a
              href="{{ path('librecores_planet_homepage') }}">Planet
              Librecores</a> collects blog posts from different community
            members. Subscribe to it in your feed reader, or <a
              href="{{ path('librecores_planet_homepage') }}">read
              it online</a>.
          </p>
          <p>
            <a class="btn btn-default"
              href="{{ path('librecores_planet_homepage') }}">Read
              Planet LibreCores &raquo;</a>
          </p>

          {# {% for post in blogposts %} <p> <div><a rel="nofollow"
          href="{{ post.url }}"><b>{{ post.author }}: {{ post.title
          }}</b></a></div> <div>{{ post.teaser }}</div> </p> {% endfor
          %} #}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Contribute to LibreCores</h2>
          <p>LibreCores is a true community project. All development
            is done in the open, and we're always open to new
            contributors! If you have only a couple of minutes to spare,
            or a full week, there's something for you to do.</p>
          <p>Have a look at our contribution guide and get started
            today!</p>
          <p>
            <a class="btn btn-default"
              href="http://librecores-web.readthedocs.io/en/latest/contributing.html">Read
              on how to contribute to LibreCores &raquo;</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Recent Activity</h2>
      {% for project in activity %}
      <p>
        <strong><a
          href="{{ path('librecores_project_repo_project_view', {'parentName':
project.getParentName(), 'projectName': project.getName()}) }}">{{ project.getFqname() }}</a></strong>
        was
        {% if project.getDateLastModified() == project.getDateAdded() %}
        added
        {% else %}
        updated
        {% endif %}
        <time
          datetime="{{ project.getDateLastModified()|date("c", "UTC") }}"
          data-livestamp="{{ project.getDateLastModified()|date("c", "UTC") }}">
          on
          {{ project.getDateLastModified()|date("d F Y H:i", "UTC") }}
          UTC
        </time>
        .
      </p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
