{% extends 'base.html.twig' %}

{% block title %}LibreCores &middot; Free and Open Source Digital Hardware{% endblock %}

{% block body %}
<!-- "claim" -->
<div class="librecores-home-claim">
  <div class="container">
    <h1>Free and Open Digital Hardware</h1>
    <p class="lead">
      LibreCores is the community hub of open source IP cores.
      It helps you to release, maintain, advertise and find digital hardware designs.
    </p>
  </div>
</div>

<!-- search -->
<div class="librecores-home-search">
<div class="container">
{# disabled until it's functional
<form class="form-inline center-block">
  <label>What are you looking for?</label>
  <input type="text" class="form-control" >
  <button class="btn btn-default" type="submit">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Find Project
  </button>
</form>
#}
</div>
</div>
</div>

<!-- 3 columns with main messages -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-6">
      <h2>What is Digital Hardware?</h2>
      <p>Digital hardware is what's inside your electronic chips.
      At LibreCores, we look at how to build such chips together using Free and Open Source tools and processes.
      Have you ever heard of Verilog or VHDL? That's languages you use to describe digital hardware.
      Or have you heard of FPGAs? That's an "execution platform" for your digital hardware code.
      To learn more about all of that, and what you need to try our your own chip design, read our
      <p><a class="btn btn-default" href="docs">Getting Started documentation &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>What is LibreCores?</h2>
      <p>LibreCores tries to be like a good neighborhood pub, just for digital hardware design.
      It's a place you go to to see what's going on in the community and to
      interact with its people. It's a place to learn about new ideas and
      &mdash;most importantly&mdash; find solutions (like IP Cores) and people
      to help you solve your problems.</p>
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'about'}) }}">Learn more about LibreCores &raquo;</a></p>
    </div>
  </div>
</div>

<!-- community activity -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-6">
      <h2>Feel the pulse</h2>
      <p>What's going on in the digital hardware design community?
      <a href="{{ path('librecores_planet_homepage') }}">Planet Librecores</a> collects blog posts from different
      community members. Subscribe to it in your feed reader,
      or <a href="{{ path('librecores_planet_homepage') }}">read it online</a>.</p>

      <p><a class="btn btn-default" href="{{ path('librecores_planet_homepage') }}">Read Planet LibreCores &raquo;</a></p>

      {#
      {% for post in blogposts %}
          <p>
            <div><a rel="nofollow" href="{{ post.url }}"><b>{{ post.author }}: {{ post.title }}</b></a></div>
            <div>{{ post.teaser }}</div>
          </p>
      {% endfor %}
      #}
    </div>
    <div class="col-md-6">
      <h2>Be part of it</h2>
      <p>Getting started with digital hardware design has never been easier. You can do it!</p>
      <p>Our Community Hub collects a range of information for you to get started. Where to get answers? How to publish existing code? What are the restrictions of using code?
      <p><a class="btn btn-default" href="{{ path('librecores_site_page', {'page': 'community-hub'}) }}">Visit the Community Hub now &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
