{% extends 'layout.html.twig' %}

{% block title %}My Organizations - LibreCores{% endblock %}

{% block pagepath %}Home &raquo; My Organizations{% endblock %}

{% block content %}
    <h1>My Organizations</h1>

    <p>
        These are the organizations you are a member of:
    </p>

    {% if organizations is not empty %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Display Name</th>
              <th scope="col" class="d-none d-md-table-cell">Description</th>
              <th scope="col">
                <span class="d-none d-sm-inline">Permissions</span>
                <span class="d-block d-sm-none">Rights</span>
              </th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
        {% for organization in organizations %}
          <tbody>
            <th scope="row">
              <a href="{{ path('librecores_project_repo_user_org_view',
              {'userOrOrganization': organization.name}) }}">{{ organization.name }}</a>
            </th>
            <td> {{ organization.displayName }} </td>
            <td class="d-none d-md-block"> {{ organization.description }} </td>
            <td>
              {% if organization.permission == 'MEMBER' %} Member {% endif %}
              {% if organization.permission == 'ADMIN' %} Admin {% endif %}
              {% if organization.permission == 'REQUEST' %} Join Request {% endif %}
              {% if organization.permission == 'DENY' %} Denied Request {% endif %}
            </td>
            <td>
              [&nbsp;<a href="{{ path('librecores_project_repo_user_org_view',
              {'userOrOrganization': organization.name}) }}">View</a>&nbsp;]​
              [&nbsp;<a href="{{ path('librecores_project_repo_organization_settings',
              {'organizationName': organization.name}) }}">Settings</a>&nbsp;]​
              [&nbsp;<a href="{{ path('librecores_project_repo_organization_settings_delete',
              {'organizationName': organization.name}) }}">Delete</a>&nbsp;]​
              [&nbsp;<a href="{{ path('librecores_project_repo_organization_settings_leave',
              {'organizationName': organization.name}) }}">Leave</a>&nbsp;]​
            </td>
          </tbody>
        {% endfor %}
        </table>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <p>
                    You are not a member of any organizations
                </p>
            </div>
        </div>
    {% endif %}

    <p></p>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{{ path('librecores_project_repo_organization_new') }}">Create a New Organization</a>
            </p>
        </div>
    </div>

{% endblock %}
