{#
Template for the user to edit notification settings
page path: /user/settings/notification-settings
#}
{% extends 'user/settings_base.html.twig' %}

{# Inform settings_base.html.twig about the page currently displayed #}
{% set settings_subpage = 'notification' %}

{% block settings_content %}
    <h2>Notification Settings</h2>
    <p> By default, the user gets Notifications from the Librecores community in the form of push notifications
        on the website as well as email notifications in their registered email. The settings for each of these notifications
        is down to personal preferences and can be edited in the panel down below</p>
    <p>Push Notifications</p>
    {% set pnStatus = user.subscribedToPushNotifs ? "IS_SUBSCRIBED" : "IS_NOT_SUBSCRIBED" %}
    <ul>
        <li>Customize if you would like to enable push notifications on the website</li>
        {% if pnStatus == "IS_SUBSCRIBED" %}
            <form method="post" action="{{ path('librecores.user.settings.notification.push', {status: pnStatus}) }}">
                <button class="btn btn-danger" type="submit">Turn Off</button>
            </form>
        {% else %}
            <form method="post" action="{{ path('librecores.user.settings.notification.push', {status: pnStatus}) }}">
                <button class="btn btn-success" type="submit">Turn On</button>
            </form>
        {% endif %}
    </ul>
    <p>Email Notifications</p>
    {% set enStatus = user.subscribedToEmailNotifs ? "IS_SUBSCRIBED" : "IS_NOT_SUBSCRIBED" %}
    <ul>
        <li>Customize if you would like to recieve email notifications from Librecores</li>
        {% if enStatus == "IS_SUBSCRIBED" %}
            <form method="post" action="{{ path('librecores.user.settings.notification.email', {status: enStatus}) }}">
                <button class="btn btn-danger" type="submit">Turn Off</button>
            </form>
        {% else %}
            <form method="post" action="{{ path('librecores.user.settings.notification.email', {status: enStatus}) }}">
                <button class="btn btn-success" type="submit">Turn On</button>
            </form>
        {% endif %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('notification_settings') }}
{% endblock %}
