{% extends 'layout.html.twig' %}

{% block title %}
Add your project to LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Add Project to LibreCores{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('project_new') }}
{% endblock %}

{% block content %}
<h1>Add your project to LibreCores</h1>

<p>Adding your project to LibreCores is easy: after you've given us the name and
source code location of your project, we'll scan your source code and get all
other information about your project automatically.</p>

{{ form_start(form) }}
  <div class="form-group {{ form.displayName.vars.errors|length > 0 ? 'has-error' : '' }}">
    {{ form_label(form.displayName, "What's the name of your project?", {'label_attr': {'class': 'librecores-new-project-label'}}) }}

    {{ form_errors(form.displayName) }}

    <div class="form-inline">
      {{ form_widget(form.displayName, {'attr': {'placeholder': 'Johns awesome FIFO', 'pattern': '.*', 'minlength': '4' }}) }}
    </div>
    <span class="form-text text-muted">Use a meaningful and descriptive name between 4 and 100 characters</span>
  </div>

  <div class="form-group {{ form.name.vars.errors|length > 0 ? 'has-error' : '' }}">
    {{ form_label(form.name, "Where would you like to find your project on LibreCores?", {'label_attr': {'class': 'librecores-new-project-label'}}) }}

    {{ form_errors(form.parentName) }}
    {{ form_errors(form.name) }}

    <div class="form-inline">
      {{ app.request.getSchemeAndHttpHost() }}/
      {{ form_label(form.parentName, null, {'label_attr': {'class': 'sr-only'}}) }}
      {{ form_widget(form.parentName) }} /
      {{ form_widget(form.name, {'attr': {'placeholder': 'awesome-fifo', 'minlength': 4 }}) }}
    </div>
    <span class="form-text text-muted">This value will be used in the URL. Must be between 4 to 30 characters</span>
  </div>


  <div class="form-group">
    <label class="librecores-new-project-label">Where can we find the source
    code for your project?</label>

    <p>LibreCores scans the source code of your project and extracts things
    like the README or the license out of it.</p>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{ activeSourcePanel == 'github' ? 'active'}}" href="#github" aria-controls="github"
           aria-selected="{{ activeSourcePanel == 'github' ? 'true' : 'false'}}"
           role="tab" data-toggle="tab">
          <i class="fa fa-github" aria-hidden="true"></i>
          GitHub
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ activeSourcePanel == 'git_url' ? 'active'}}" href="#git_url" aria-controls="git_url"
           aria-selected="{{ activeSourcePanel == 'git_url' ? 'true' : 'false'}}"
           role="tab" data-toggle="tab">
          <i class="fa fa-git" aria-hidden="true"></i>
          Other Git repository
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#other" aria-controls="other" role="tab" data-toggle="tab">
          Other
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane {{ activeSourcePanel == 'github' ? 'show active'}}" id="github">
        {% if isGithubConnected %}
          {% if noGithubRepos %}
            <p>You don't have access to any repository on GitHub (or haven't granted us access).
            Please add the project to LibreCores by entering the Git repository URL manually.</p>
          {% else %}
            <div class="form-group">
              {{ form_label(form.githubSourceRepo,'Select a project from your GitHub account') }}
              {{ form_widget(form.githubSourceRepo, {'attr': {'class': 'selectpicker','data-live-search':'true', 'data-window-padding': '50'}}) }}
            </div>
            {{ form_row(form.saveGithubSourceRepo) }}

            <p><strong>Are you missing a repository from a GitHub organization you're member of?</strong>
            Go to the <a href="https://github.com/settings/connections/applications" target="_blank">Authorized OAuth Apps</a> page in your GitHub settings, and click on "LibreCores".
            There you can grant access to other organizations.
            If you're done, refresh this page to see the organization repositories in the list.</p>
          {% endif %}
        {% else %}
          <p>We cannot import projects from your GitHub account because your
          LibreCores account is not connected to GitHub.
          Either
          <a href="{{ path('librecores.user.settings.connections') }}">connect your account</a>
          or enter the repository URL manually.</p>
          <p>
            <a class="btn btn-social btn-github" href="{{ hwi_oauth_login_url('github') }}">
              <i class="fa fa-github"></i> Connect to GitHub
            </a>
          </p>
        {% endif %}
      </div>


      <div role="tabpanel" class="tab-pane {{ activeSourcePanel == 'git_url' ? 'show active'}}" id="git_url">
        {{ form_row(form.gitSourceRepoUrl, {'label': 'Enter a Git repository URL', 'attr': {'style': 'width:500px', 'placeholder': 'URL, e.g. https://github.com/yourname/project'}}) }}

        {{ form_row(form.saveGitSourceRepoUrl) }}
      </div>

      <div role="tabpanel" class="tab-pane" id="other">
        <p>Currently LibreCores only supportes Git repositories.</p>
        <p>How about taking the chance and migrating to Git?
        In addition to many advanced version-control features, you can
        collaborate easier on platforms like GitHub.</p>
        <p>Start now!
        <a href="https://github.com/new/import">Import a Subversion (SVN) or
        Mercurial (hg) to GitHub</a> and return to this page to add your
        project to LibreCores.</p>
      </div>
    </div>
  </div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('project_new') }}
{% endblock %}
